<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amostra</title>
</head>
<body>
  <h1>Amostra {{ amostra.id }}</h1>
  {% for field, value in amostra.get_fields %}
    {{ field }}: {{ value }} <br>
  {% endfor %}

  <h2>Paciente {{ paciente.nome }}</h2>
  {% for field, value in paciente.get_fields %}
    {{ field }}: {{ value }} <br>
  {% endfor %}


  <h2>Exames feitos com esta amostra</h2>
  <ol>
    {% for exame in exames %}
    <li>  
      {% for field, value in exame.get_fields %}
        {{ field }}: {{ value }} 
      {% endfor %}
    </li>
    {% endfor %}
  </ol>
  <a href="..">
    <button>Voltar</button>
  </a>
</body>
</html>