<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Bem-vindo</h1>
  <h3>Por favor, selecione uma das informações abaixo</h3>
  
  <h2>Operar sobre:</h2>
  
  <div style="display: flex; flex-direction: column;">
    <a href="/main/paciente" style="margin-bottom: 1rem;">
      <button>Pacientes</button>
    </a>
    
    <a href="/main/amostra" style="margin-bottom: 1rem;">
      <button> Amostras </button>
    </a>
    
    </a>
    <a href="/main/exame" style="margin-bottom: 1rem;">
      <button>Exames</button>
    </a>

    <a href="/main/possui" style="margin-bottom: 1rem;">
      <button>Possui</button>
    </a>

    <a href="/main/outrosDadosAmostra" style="margin-bottom: 1rem;">
      <button>Outros dados das amostras</button>
    </a>

    <a href="/main/outrosDadosPaciente" style="margin-bottom: 1rem;">
      <button>Outros dados dos pacientes</button>
    </a>
  </div>
  
  <!-- <h2>Inserir dados</h2>
  <div style="display: flex; flex-direction: column;">
    <a href="/main/paciente/insert" style="margin-bottom: 1rem;">
      <button>Pacientes</button>
    </a>

    <a href="/main/amostra/insert" style="margin-bottom: 1rem;">
      <button>Amostras</button>
    </a>

    <a href="/main/exame/insert" style="margin-bottom: 1rem;">
      <button> Exames</button>
    </a> -->

  </div>
</body>
</html>