<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .grid {
      padding: 0 0 50px 50px;

      display: grid;
      grid-template-columns: 400px 80px 80px;
      row-gap: 10px;
    }


    .flex {
      display: flex;
      flex-direction: row;
    }

  </style>
  <title> {{ titulo }} </title>
</head>
<body>
  <h1>{{ titulo }}</h1>
  <div class="grid">
    {% for row in array %}
      <span>
        
        {% if row.0 %}
          {% for field, data in row.0 %}
            {{ field.capitalize }}: {{ data }} <br>
          {% endfor %}
        {% else %}
          {% for field, data in row.get_fields %}
            {{ field.capitalize }}: {{ data }} <br>
          {% endfor %}
        {% endif %}

        {% if row.1 %}
          Outros dados:
          <ul>
            {% for dado in row.1 %}
              <li> 
                {{ dado }}  
                <a href="other/delete/{{dado.pk}}"><button>deletar</button></a> 
                <a href="other/update/{{dado.pk}}"><button>modificar</button></a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </span>
      
      {% if row.0 %}
        <div class="flex">
          <a href="update/{{row.0.0.1}}" class="modificar">
            <button> modificar </button>
          </a>
          <a href="delete/{{row.0.0.1}}">
            <button> deletar </button>
          </a>
          <a href="other/insert/{{row.0.0.1}}">
            <button> inserir outro dado </button>
          </a>
      </div>
      <br>
      {% else %}
        <a href="update/{{row.pk}}" class="modificar">
          <button> modificar </button>
        </a>
        <a href="delete/{{row.pk}}">
          <button> deletar </button>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <a href='insert'> 
    <button> inserir </button>
  </a>
  <a href='..'> 
    <button> voltar</button>
  </a>
</body>
</html>